@model IEnumerable<DogacProject.ViewModels.UserModel>
@inject DogacContext _context

<style>
    #my_select {
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .table {
        border-spacing: 20px;
    }
    </style>

<br><br>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    ID
                </th>
                <th>
                    Is Admin
                </th>
                <th>
                    Is Department Manager
                </th>
                <th>
                    Manager To
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserIdNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDepartmentManager)
                </td>
                <td>
                    @{
                        if (_context.Department.FirstOrDefault(d => d.Id == item.ManagerTo) == null)
                        {
                            <p>No Departments.</p>
                        }
                        else if (item.IsDepartmentManager)
                        {
                            @_context.Department.FirstOrDefault(d => d.Id == item.ManagerTo).Name
                        }
                    }
                </td>
                <td>
                    @if (item.IsAdmin)
                    {
                        <a asp-action="RemoveAdmin" asp-route-id="@item.Id" class="w3-button w3-red">Remove Admin</a>
                    }
                    else
                    {
                        <a asp-action="MakeAdmin" asp-route-id="@item.Id" class="w3-button w3-blue">Make Admin</a>
                    }
                </td>
                @if (item.IsDepartmentManager)
                {
                    <td>
                        <a asp-action="RemoveDepartmentManager" asp-route-id="@item.Id" class="w3-button w3-red">Remove Department Manager</a>
                    </td>

                    <td>
                    <form asp-action="MakeManagerTo">
                        <input type="hidden" name="id" value="@item.Id" />
                        <select name="departmentId" id="my_select" asp-items="ViewBag.DepartmentNames"></select>
                        <input type="submit" value="Assign" />
                    </form>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="MakeDepartmentManager" asp-route-id="@item.Id" class="w3-button w3-blue">Make Department Manager</a>
                    </td>
                }

            </tr>
            }
        </tbody>
    </table>